#!/bin/sh

set -e

. /usr/share/debconf/confmodule

# need to compare in future version
dbc_first_version="1.3.14-2"

if [ -f /usr/share/dbconfig-common/dpkg/config ]; then
    dbc_dbtypes="pgsql"
    dbc_authmethod_user="password"

    . /usr/share/dbconfig-common/dpkg/config
fi

db_input high ledgersmb/lsmb_debconf || true
db_go || true

db_get ledgersmb/lsmb_debconf
if [ "$RET" = true ];then
    if [ -f /usr/share/dbconfig-common/dpkg/config ]; then
        dbc_go ledgersmb $@
    fi

    db_input high ledgersmb/lsmb_login || true
    db_input high ledgersmb/lsmb_password || true
    db_go || true
fi

exit 0
