#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DESTDIR = $(CURDIR)/debian/ledgersmb
INSTALL = install


configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.

	touch configure-stamp


build: build-stamp

build-stamp: configure-stamp
	dh_testdir

        # Add here commands to compile the package.
        #docbook-to-man debian/ledgersmb.sgml > ledgersmb.1

	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	# Add here commands to clean up after the build process.
	rm -f ledgersmb-httpd.conf
	rm -f ledgersmb.conf
	$(MAKE) distclean

	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	# Add here commands to install the package into debian/ledgersmb.

	cp ledgersmb-httpd.conf.template ledgersmb-httpd.conf

	sed -e 's|^spool      = .*$$|spool  = /var/lib/ledgersmb/spool|' \
	    -e 's|^latex : 1$$|latex : 0|' \
	    -e '/^localepath/d' \
	    ledgersmb.conf.default > ledgersmb.conf

	perl Makefile.PL --skipdeps
	$(MAKE)

    # Corrections to file permissions
	chmod +x $(CURDIR)/blib/lib/*.pl
	chmod +x $(CURDIR)/scripts/*.pl
	chmod +x $(CURDIR)/sql/modules/*.sh
	chmod +x $(CURDIR)/tools/*.sh
	chmod -x $(CURDIR)/locale/po/*
	chmod -x $(CURDIR)/locale/html/*
	chmod -x $(CURDIR)/sql/*sql
	chmod -x $(CURDIR)/sql/coa/*sql
	chmod -x $(CURDIR)/LedgerSMB/*pm
	chmod -x $(CURDIR)/LedgerSMB/Auth/*pm
	chmod -x $(CURDIR)/LedgerSMB/Taxes/*pm
	chmod -x $(CURDIR)/LedgerSMB/Template/*pm

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs Changelog
	dh_installdocs
	dh_installexamples
	dh_install
	dh_lintian
#	dh_installdebconf
	dh_link
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_perl
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture-dependent files here.
binary-arch: build install
# We have nothing to do by default.

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
