Source: ledgersmb-1.4
Section: web
Priority: optional
Maintainer: Debian LedgerSMB Team <pkg-sql-ledger-discussion@lists.alioth.debian.org>
Uploaders: Robert James Clay <jame@rocasa.us>
Build-Depends: debhelper (>= 8),
               po-debconf,
               libmodule-install-perl,
               dh-linktree,
               libjs-dojo-dojox
Standards-Version: 3.9.6
Homepage: http://www.ledgersmb.org/
Vcs-Svn: svn://anonscm.debian.org/pkg-sql-ledger/ledger-smb/trunk
Vcs-Browser: http://anonscm.debian.org/viewvc/pkg-sql-ledger/ledger-smb/trunk/

Package: ledgersmb
Architecture: all
Pre-Depends: dpkg (>= 1.15.7.2)
Depends: apache2 | httpd-cgi,
         dbconfig-common,
         libcarp-always-perl,
         libcgi-simple-perl,
         libconfig-inifiles-perl
         libdatetime-perl,
         libdatetime-format-strptime-perl,
         libdbd-pg-perl,
         libdbi-perl,
         liberror-perl,
         libfile-mimeinfo-perl,
         libhtml-parser-perl,
         libio-stringy-perl,
         libjs-dojo-dojox,
         liblocale-maketext-lexicon-perl (>= 0.62-1),
         liblog-log4perl-perl,
         libnamespace-autoclean-perl,
         libmime-lite-perl,
         libmoose-perl,
         libnumber-format-perl,
         libtemplate-perl (>=2.14-1),
         perl (>= 5.8.1-1),
         postgresql-client,
         postgresql-contrib,
         ${misc:Depends},
         ${perl:Depends}
Recommends: default-mta | mail-transport-agent,
            libmath-bigint-gmp-perl,
            libopenoffice-oodoc-perl,
            libparse-recdescent-perl,
            libtemplate-plugin-latex-perl,
            libtex-encode-perl,
            texlive-latex-recommended
Suggests: texlive-xetex,
          latex-cjk-all,
          libcgi-emulate-psgi-perl,
          libimage-size-perl,
          libnet-tclink-perl,
          libplack-perl,
          postgresql,
          lpr
Replaces: ledgersmb
Description: financial accounting and ERP program
 LedgerSMB is a double-entry financial accounting and Enterprise Resource
 Planning system which offers "Accounts Receivable", "Accounts Payable" and
 "General Ledger" tracking as well as inventory control and fixed assets
 handling. The LedgerSMB client can be a web browser or a programmed API call.
 The goal of the LedgerSMB project is to bring high quality ERP and accounting
 capabilities to Small and Midsize Businesses.
