#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	[ ! -e Build.PL ] || rm -f Build.PL
	sed -e 's|^spool      = .*$$|spool  = /var/lib/ledgersmb-1.2/spool|' \
	    -e 's|^latex : 1$$|latex : 0|' \
	    -e '/^localepath/d' \
	    ledgersmb.conf.default > ledgersmb.conf
	dh_auto_configure

override_dh_auto_test:

override_dh_auto_clean:
	dh_auto_clean
	rm -f ledgersmb.conf

override_dh_auto_install:

override_dh_install:
	dh_install -XCOPYING

override_dh_fixperms:
	dh_fixperms
	chmod -x debian/ledgersmb-1.2/usr/share/ledgersmb-1.2/bin/*
	chmod -x debian/ledgersmb-1.2/var/lib/ledgersmb-1.2/css/*
	chmod -x debian/ledgersmb-1.2/usr/share/ledgersmb-1.2/locale/po/*
	chmod +x debian/ledgersmb-1.2/usr/share/ledgersmb-1.2/upgrade-templates.pl
	find debian/ledgersmb-1.2/etc/ledgersmb-1.2 -d -not -exec chmod -x '{}' \;
	find debian/ledgersmb-1.2/usr/share/ledgersmb-1.2 -name '*.html' -exec chmod -x '{}' \;
	find debian/ledgersmb-1.2/usr/share/ledgersmb-1.2 -name '*.sh' -exec chmod +x '{}' \;
	find debian/ledgersmb-1.2/usr/share/ledgersmb-1.2 -name '*.pm' -exec chmod -x '{}' \;
	find debian/ledgersmb-1.2/usr/share/ledgersmb-1.2 -name '*.sql' -exec chmod -x '{}' \;
	find debian/ledgersmb-1.2/usr/share/ledgersmb-1.2/locale/legacy -d -not -name '*.pl' -not -exec chmod -x '{}' \;

